*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000;
    color: #FFF;
    font-family: "Montserrat", sans-serif;
}
h1 {
    font-size: 3rem;
    font-weight: 900;
}
h1, h3 {
    overflow: hidden;
    text-transform: uppercase;
}
.char {
    display: inline-block;
}